*{
    box-sizing: border-box;
    background-color: rgb(241, 233, 220);
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 233, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1{
    text-align: center;
    font-size: 50px;
}
.info{
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: rgb(241, 233, 220);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(228, 179, 187);
    
}

button{
    display: block;
    margin: 20px auto;
    border:0;
    cursor: pointer;
    background: crimson;
    padding: 6px 10px;
    color: white;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 0 10px rgb(218, 50, 84);
}
button:hover{
    color: crimson;
    background-color:white;
    box-sizing: border-box;
    transform: scale(1.09);
    box-shadow: 0 0 10px rgb(218, 50, 84);
}



        